__pycache__/
.pytest_cache/
.venv/
.env
.env.local
.env.*.local
.pypirc
.coverage
.mypy_cache/
.ruff_cache/
.tox/
.nox/
htmlcov/
site/
pip-wheel-metadata/
build/
dist/
*.log
*.tmp
*.egg-info/
*.pyc
=1.25.0
